FOLES_PPF29.105-44_subsidy-DEFAULT_regulatory-DEFAULT_CFC.xml.zip
system/system/app/Chrome/Chrome.apk
system/system/priv-app/MotCamera2/MotCamera2.apk
system/system/priv-app/GmsCore/GmsCore.apk
system/system/priv-app/Velvet/Velvet.apk
